{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'news_app/login.css?rand=23423423' %}" rel='stylesheet' type='text/css' />

    <title></title>
  </head>
  <body>
    <div class="login">
      <h1>Login</h1>
      <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}

        {% for message in messages %}
          <div class="alert alert-success">
            <p class="p_alert" data-dismiss="alert">{{ message }}</p>
          </div>
        {% endfor %}

        <input type="text" name="username" placeholder="Username" required="required">

        <input type="password" name="password" placeholder="Password" required="required">

        <button type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        <br>
        <span style="color:#307fff;">Daca nu sunteti inregistrat, apasati </span><a href="{% url 'register' %}">Inregistrare</a>
        <br>
        <br>
        <span style="color:#307fff;">Daca nu va mai amintiti parola, click aici: </span><a href="{% url 'password_reset' %}">Resetare parola</a>
      </form>
    </div>
  </body>
</html>
